@font-face {
    font-family: "RobotoFlex";
    src: url(../styles/robotoflex.ttf);
    font-display: swap;
}

body {
    font-family: "RobotoFlex";
    margin: 0;
    background-color: #000000;
    color: hsl(0, 0%, 10%);
    line-height: 1.5;
    overflow-x: hidden;
  }

  @media only screen and (max-device-width: 480px) {
    .thicc {
      margin: 90px;
      padding: 0px -4em;
      text-align: center !important;
      margin-left: 19% !important;
      line-height: 2.50;
      color: #ffffff;
    font-variation-settings: 'wght' 1000, "opsz" 90000;
    font-stretch: 2500%;
    font-size: 50px;
    }
    .aboutme {
      padding: 4em 2em;
      margin: 1em;
      text-align: left;
      color:#ffffff;
      font-variation-settings: 'wght' 290, "opsz" -20;
      font-size: 22px;
    }
    
    .abouttext { 
      position:absolute; 
      padding: 13px 9.7;
      margin: -90px;
      text-align: left;
      color:#ffffff;
      font-variation-settings: 'wght' 100, "opsz" -20;
      font-size: 20px;
    }
  
    .blogs {
      position:absolute;
      padding: 0em 0em;
      margin: 62px;
      text-align: left;
      color:#ffffff;
      font-variation-settings: 'wght' 290, "opsz" -20;
      font-size: 22px;
    }
  
    .blog_links {
      position:absolute;
      padding: 3em 0em;
      margin: 64px;
      text-align: left;
      color:#ffffff;
      font-variation-settings: 'wght' 90, "opsz" -20;
      font-size: 21px;
    }
  }
  
  .thicc {
    margin: 200px;
    padding: 0px;
    text-align: center;
    line-height: 2.50;
    color: #ffffff;
  font-variation-settings: 'wght' 1000, "opsz" 90000;
  font-stretch: 2500%;
  font-size: 50px;
  }

  .aboutme {
    padding: 4em 1.5em;
    margin: 1em;
    text-align: left;
    color:#ffffff;
    font-variation-settings: 'wght' 290, "opsz" -20;
    font-size: 22px;
  }
  
  .abouttext { 
    position:absolute; 
    padding: 1px 9.7em;
    margin: -140px;
    text-align: left;
    color:#ffffff;
    font-variation-settings: 'wght' 100, "opsz" -20;
    font-size: 20px;
    overflow: auto;
  }

  .blogs {
    position:absolute;
    padding: 0em 0em;
    margin: 62px;
    text-align: left;
    color:#ffffff;
    font-variation-settings: 'wght' 290, "opsz" -20;
    font-size: 22px;
  }

  .blog_links{
    position:absolute;
    padding: 3em 0em;
    margin: 64px;
    text-align: left;
    color:#ffffff;
    font-variation-settings: 'wght' 100, "opsz" -20;
    font-size: 21px;
  }



a:link { text-decoration: none; color:#93e5d3; font-variation-settings: 'wght' 290; font-size: 23px;}
a:visited { text-decoration: none; color:#93e5d3; font-variation-settings: 'wght' 290; font-size: 23px;}
a:hover { text-decoration: underline; color:#93e5d3; font-variation-settings: 'wght' 290; font-size: 23px;}
a:active { text-decoration: underline; color:#93e5d3; font-variation-settings: 'wght' 290; font-size: 23px;}