@font-face {
    font-family: "RobotoFlex";
    src: url(../styles/robotoflex.ttf);
    font-display: swap;
}

body {
    font-family: "RobotoFlex";
    margin: 0;
    padding: 0;
    background-color: #10020c;
    line-height: 1.5;
    overflow-x: hidden;
  }
  .header{
    display: flex;
    flex-direction: column;
    min-width: 75vw;
    margin: auto;
    height: 100vh;
    width: 100vw;
    background-color: #170913
    background-size: cover; 
  }

  @media only screen and (max-device-width: 480px) {
    .thicc {
    color: #ffffff;
    font-variation-settings: 'wght' 1000, "opsz" 90000;
    font-stretch: 2500%;
    font-size: 50px;
    }
    .aboutme {
      text-align: left;
      color:#ffffff;
      font-variation-settings: 'wght' 290, "opsz" -20;
      font-size: 22px;
    }
    
    .abouttext { 
      text-align: left;
      color:#ffffff;
      font-variation-settings: 'wght' 140, "opsz" -20;
      font-size: 20px;
    }
  
    .work {
      text-align: left;
      color:#ffffff;
      font-variation-settings: 'wght' 290, "opsz" -20;
      font-size: 22px;
    }
  
    .work_links {
      text-align: left;
      color:#ffffff;
      font-variation-settings: 'wght' 140, "opsz" -20;
      font-size: 21px;
    }
    
  }
  
  .thicc {
    text-align: center;
    line-height: 9.90;
    color: #ffffff;
  font-variation-settings: 'wght' 1000, "opsz" 10000;
  font-stretch: 2500%;
  font-size: 50px;
  }

  .aboutme {
    text-align: left;
    color:#ffffff;
    font-variation-settings: 'wght' 290, "opsz" -20;
    font-size: 22px;
  }
  
  .abouttext { 
    text-align: left;
    color:#ffffff;
    font-variation-settings: 'wght' 140, "opsz" -20;
    font-size: 20px;
  }

  .work {
    text-align: left;
    color:#ffffff;
    font-variation-settings: 'wght' 290, "opsz" -20;
    font-size: 22px;
  }
  .wropper {
    max-width: min(100% - 32px, 61.25rem);
    margin-inline: auto;
}

a:link { 
  text-decoration: none; color:#e04a4c;
}
a:visited { 
  text-decoration: none; color:#e04a4c;
}
a:hover { 
  text-decoration: underline; color: #e04a4c;
}
a:active { 
  text-decoration: underline; color: #e04a4c;
}

::selection { 
  background-color: #e04a4c;
}

::moz-selection { 
  background-color: #e04a4c;
}

a::selection {
  color: #10020c;
}

a::-moz-selection {
  color: #10020c;
}

h2::selection {
  color: #10020c;

}

h2::-moz-selection {
  color: #10020c;
}

h1::selection {
  color: #10020c;
}

h1::-moz-selection {
  color: #10020c;
}

p::selection {
  color: #10020c;
}

p::-moz-selection {
  color: #10020c;
}
